body {
    background-color: #F9FAFC;
    width: 100%;
    align-self: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

.hero {
    width: 100%;
    height: auto;
}

.crimson {
    font-family: 'Crimson Text', serif;
    font-size: large;
}

.home-writeup {
    padding-top:5px;
}

.dark-bg {
    background-color: #4d4d4d;
}

.logo {
    display: block;
    max-height: 180px;
}

header {
    margin-left: 0px;
    margin-right: 0px;
    max-height: 150vh;
}

.random-image {
    width: auto;
    max-height: 300px;
    border-radius: 10px;
}

.random-recipe-title {
    
}

.margins-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}