{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
{% for recipe in recipes %}
<div class="col-md-4 mb-4">
<div class="recipe-item">
    <h2>{{ recipe.title|title }}</h2>
<img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image" class="img-fluid round-image">
<p>Author: {{ recipe.author.username|title }}</p>
<p>Country: {{ recipe.country|title }}</p>
<p><a href="{% url 'recipe_detail' recipe.id %}" class="custom-btn-green">Read More</a></p>
</div>
</div>
{% endfor %}
</div>
</div>

<div class="container">
<div class="pagination">
<span class="step-links">
{% if recipes.has_previous %}
<a href="?page=1">&laquo; first</a>
<a href="?page={{ recipes.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
</span>

{% if recipes.has_next %}
<a href="?page={{ recipes.next_page_number }}">next</a>
<a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
{% endif %}
</span>
</div>
</div>

{% endblock %}