{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Create a New Recipe</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.country.label_tag }}
            {{ form.country }}
        </div>
        <div class="mb-3">
            {{ form.featured_image.label_tag }}
            {{ form.featured_image }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-3">
            {{ form.ingredients.label_tag }}
            {{ form.ingredients }}
        </div>
        <div class="mb-3">
            {{ form.instructions.label_tag }}
            {{ form.instructions }}
        </div>
        <div class="mb-3">
            {{ form.servings.label_tag }}
            {{ form.servings }}
        </div>

        {% for error in form.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}