{% extends 'base.html' %}

{% block content %}
    <h2>Delete Recipe</h2>

    <p>Are you sure you want to delete the recipe "{{ recipe.title }}"?</p>

    <form method="post" action="{% url 'delete_recipe' pk=recipe.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Yes, delete" class="custom-btn-red">
    </form>

    <button onclick="goBack()">Cancel</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
