{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 justify-content-start">
            <img src="static/images/hero.png" class="hero">
        </div>
        <div class="col-6">
            <h1>Welcome to good food</h1>
            <p class="crimson home-writeup">Family recipes are usually not shared but what is the fun in that?
                <br>We believe that all good things in life are better shared, like laughs, adventures and food.<br><br>
                So lets get started and share the best recipes we have while finding others we never knew about.

            </p>
        </div>
    </div>
</div>

</div>

{%endblock%}