{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div class="row">
<div class="col-md-6 justify-content-start">
<img src="https://res.cloudinary.com/dmtdimx2z/image/upload/v1704967219/static/images/hero-image.fc405b5dd61f.png" class="hero img-fluid" alt="hero image">
</div>
<div class="col-md-6">
{% if not user.is_authenticated %}
<h1 class="welcome-paragraph">Welcome to good food</h1>
<p class="crimson home-writeup">Family recipes are usually kept secret, never to be shared, but what is the fun in that!?
<br>We believe that all good things in life are better shared, such as laughs, adventures and food.<br><br>
Register as a user and you will get to share your recipes as well as liking and commenting on other recipes.<br>
So let's get started and share the best recipes we have while finding others we never knew about.
</p>
{% endif %}
{% if user.is_authenticated %}

<h1 class="welcome-paragraph">Welcome {{ user.username }}!</h1>
<p>It's great to have you in our community, you are all setup to get sharing and cooking new recipes!</p>
<p></p>You can view, edit and delete your recipes that you have submitted.</p>
<p class="crimson"><a href="{% url 'user_recipes' %}" class="custom-btn-green">View Your Recipes</a></p>
</div>
{% endif %}
</div>
</div>

<div>
<h1 class="latest-recipes">Latest Recipes</h1>
<div class="row">
{% for recipe in new_section_data %}
<div class="col-md-4">
<div class="row mb-3">
<img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image" class="img-fluid img-fluid round-image">
<h2>{{ recipe.title|title }}</h2>
<p class="recipe-meta">
    <span class="p-strong">Author:</span> <span>{{ recipe.author.username }}</span>
    <span class="p-strong">Country:</span> <span>{{ recipe.country }}</span>
    <span class="p-strong">Likes:</span> <span>{{ recipe.likes.count }}</span>
</p>



</div>
</div>
{% if forloop.counter|divisibleby:3 and not forloop.last %}
</div><div class="row">
{% endif %}
{% endfor %}
</div>
</div>
</div>
{% endblock %}