{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 justify-content-start">
            <img src="static/images/hero.png" class="hero img-fluid" alt="hero image">
        </div>
        <div class="col-md-6">
            <h1>Welcome to good food</h1>
            <p class="crimson home-writeup">Family recipes are usually not shared but what is the fun in that?
                <br>We believe that all good things in life are better shared, like laughs, adventures and food.<br><br>
                So lets get started and share the best recipes we have while finding others we never knew about.
            </p>
            {% if user.is_authenticated %}
            <div class="col-md-6 crud-section">
            <h1>Welcome {{ user.username }}!</h1>
            <p class="crimson"><a href="{% url 'user_recipes' %}">View Your Recipes</a>
            </p>
            </div>
            {% endif %}
            
        </div>
    </div>

    <div class="latest-recipes">
        <h1>Latest Recipes</h1>
        {% for recipe in new_section_data %}
        <div class="recipe-item row">
        <div class="col-md-6">
        <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image" class="img-fluid">
        </div>
        <div class="col-md-6">
        <h2>{{ recipe.title }}</h2>
        <p>Country: {{ recipe.country }}</p>
        <p>Author: {{ recipe.author.username }}</p>
        <p>Likes: {{ recipe.likes.count }}</p>
        <!-- Add more details as needed -->
        </div>
        </div>
        <hr class="recipe-divider">
        {% endfor %}
        </div>
        
        </ul>

    </div>
</div>


{%endblock%}