{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Your Recipes</h1>

{% for recipe in user_recipes %}
<div class="recipe-item">
<h2>{{ recipe.title }}</h2>
<p>Country: {{ recipe.country }}</p>
<p>Likes: {{ recipe.likes.count }}</p>

{% if user.is_authenticated %}
{% if user in recipe.likes.all %}
<!-- User has liked the recipe, show unlike button -->
<form action="{% url 'unlike_recipe' recipe.pk %}" method="post">
{% csrf_token %}
<button type="submit">Unlike</button>
</form>
{% else %}
<!-- User has not liked the recipe, show like button -->
<form action="{% url 'like_recipe' recipe.pk %}" method="post">
{% csrf_token %}
<button type="submit" class="btn-primary btn-sm">Like</button>
</form>
{% endif %}
{% else %}
<!-- User is not authenticated, show a message or a link to the login page -->
<p><a href="{% url 'login' %}">Login</a> to like this recipe.</p>
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}