{% extends "base.html" %}



{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-6">

            <h1>{{ recipe.title|title }}</h1>
            <p>Country: {{ recipe.country }}</p>
            <p>Servings: {{ recipe.servings }}</p>
            <h2>Description</h2>
            <p>{{ recipe.description }}</p>
            <h2>Ingredients</h2>
            <p>{{ recipe.ingredients | linebreaksbr }}</p>
            <h2>Instructions</h2>
            <p>{{ recipe.instructions | linebreaksbr }}</p>
            <p>Likes: {{ recipe.likes.count }}</p>
            <div class="inline-space">
                {% if user.is_authenticated %}
                {% if user in recipe.likes.all %}
                <!-- User has liked the recipe, show unlike button -->
                <form action="{% url 'unlike_recipe' recipe.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="custom-btn-red">Unlike Recipe</button>

                </form>
                {% else %}
                <!-- User has not liked the recipe, show like button -->
                <form action="{% url 'like_recipe' recipe.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="custom-btn-green">Like Recipe</button>
                </form>
                {% endif %}
                {% else %}
                <a href="{% url 'login' %}">Login</a> to like this recipe.
                {% endif %}

            </div>

            <h3>Comments</h3>

            {% for comment in comments %}

            <p>{{ comment.name }} says: {{ comment.body }}</p>

            {% endfor %}



            <h3>Add a comment</h3>

            <form method="post" action="{% url 'add_comment' recipe.id %}">

                {% csrf_token %}

                {{ comment_form.as_p }}

                <button type="submit">Submit comment</button>

            </form>





        </div>

        <div class="col-md-6">

            <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image" class="img-fluid round-image">

        </div>

    </div>

</div>

{% endblock %}