{% extends "base.html" %}

{% block content %}

<div class="container">
    {% for recipe in recipes %}
        <h1>{{ recipe.title }}</h1>
        <p>Country: {{ recipe.country }}</p>
        <p>Servings: {{ recipe.servings }}</p>
        <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image">

        <h2>Description</h2>
        <p>{{ recipe.description }}</p>

        <h2>Ingredients</h2>
        <p>{{ recipe.ingredients | linebreaksbr }}</p>

        <h2>Instructions</h2>
        <p>{{ recipe.instructions | linebreaksbr }}</p>

        <p>Likes: {{ recipe.likes.all.count }}</p>

        {% if user.is_authenticated %}
        {% if user in recipe.likes.all %}
            <!-- User has liked the recipe, show unlike button -->
            <form action="{% url 'unlike_recipe' recipe.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Unlike</button>
            </form>
        {% else %}
            <!-- User has not liked the recipe, show like button -->
            <form action="{% url 'like_recipe' recipe.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Like</button>
            </form>
        {% endif %}
        {% else %}
            <!-- User is not authenticated, show a message or a link to the login page -->
            <p><a href="{% url 'login' %}">Login</a> to like this recipe.</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
